.paginationWrapper {
  padding: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-gray-6);
  display: flex;
  justify-content: start;
}

.paginationControl {
  border-radius: 0.75rem;
}

.paginationControl[data-active] {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-light-color);
  border: none;
}
